header {
    background-color: #FFCC99;
    text-align: center;
    font-weight: bold;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    
}
main {
    display: flex;
    background-color: #E6F2FF;
    margin: 20px;
}
aside {
    background-color: #B3D9FF;
    flex: 1;
    border: 1px solid #CCC;
}
section{
    flex: 3;
}
footer {
    background-color: #99CC99;
    border: 1px solid #CCC;
    box-shadow: 0 -4px 8px rgba(0,0,0,0.1);
}
